.header-container {
  width: 100%;
  background-color: #f8f9fa; /* Background color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for a subtle lift */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-image {
  width: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 10px;
}

ul li a {
  text-decoration: none !important;
  color: #333; /* Link color */
  font-weight: bold; /* Font weight */
  padding: 8px 12px; /* Padding */
  border-radius: 4px; /* Rounded corners */
  transition: all 0.3s ease; /* Smooth transition */
}

ul li a:hover {
  background-color: #e9ecef; /* Background color on hover */
  color: #555; /* Text color on hover */
}
